[submodule "external/libconfig"]
	path = external/libconfig
	url = https://github.com/hyperrealm/libconfig.git
[submodule "external/tinycc"]
	path = external/tinycc
	url = git://repo.or.cz/tinycc.git
	branch = mob
[submodule "external/cpl"]
	path = external/cpl
	url = https://bitbucket.org/Mayae/cpl.git
	branch = dev/stable
[submodule "external/ape-snippets"]
	path = external/ape-snippets
	url = https://bitbucket.org/Mayae/ape-snippets.git
[submodule "external/cfront-core"]
	path = external/cfront-core
	url = https://bitbucket.org/Mayae/cfront-core.git
	branch = dev/modern