[submodule "external/libconfig"]
	path = external/libconfig
	url = https://github.com/hyperrealm/libconfig.git
[submodule "external/tinycc"]
	path = external/tinycc
	url = git://repo.or.cz/tinycc.git
	branch = mob
[submodule "external/cpl"]
	path = external/cpl
	url = https://github.com/jthorborg/cpl.git
	branch = dev/stable
[submodule "external/ape-snippets"]
	path = external/ape-snippets
	url = https://github.com/jthorborg/ape-snippets.git
[submodule "external/signalizer"]
	path = external/signalizer
	url = https://github.com/jthorborg/signalizer.git
[submodule "external/libcxx"]
	path = external/libcxx
	url = git://github.com/jthorborg/libcxx.git
	branch = embedded/minimal-jit
[submodule "external/ccore"]
	path = external/ccore
	url = https://github.com/jthorborg/ccore.git
[submodule "external/dockable-windows"]
	path = external/dockable-windows
	url = https://github.com/jthorborg/dockable-windows.git
