[submodule "external/libconfig"]
	path = external/libconfig
	url = https://github.com/hyperrealm/libconfig.git
	branch = master
[submodule "external/tinycc"]
	path = external/tinycc
	url = git://repo.or.cz/tinycc.git
	branch = mob
[submodule "external/cpl"]
	path = external/cpl
	url = https://bitbucket.org/Mayae/cpl.git
	branch = master
